<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header bg-dark text-warning">
                Personal Details
            </div>
            <div class="card-body">
                    <table class="table table-bordered bg-dark text-warning">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{lastName}}, {{firstName}}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{city}}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{age}}</td>
                            </tr>
                            <tr>
                                <th>Designation</th>
                                <td>{{designation}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>        
    </div>
</div>
