<ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
        <mat-form-field>
          <mat-label>What's your email?</mat-label>
          <input matInput [(ngModel)]="email">
        </mat-form-field>
      </li>
    <li>
      <button mat-raised-button color="warn" (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
</ol>