<div class="container">
  <div class="row form-group">
    <div class="col">

      <nav class="navbar navbar-expand-lg navbar-info bg-warning">
        <a class="navbar-brand">Mast Tea Cafe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="'home'">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'admin'">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'login'">Sign In</a>
            </li>
          </ul>
          <span class="navbar-text">
            Tea Cafe
          </span>
        </div>
      </nav>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>