<div class="row form-group">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 border-0">
        Items in Cart: <a [routerLink]="'cartDetail'"><span class="badge badge-success">{{cartItems.length}}</span></a> 
    </div>
</div>
<div class="row form-group">    
    <div class="col-sm-4"  *ngFor="let item of items">
        <div class="card">
            <div class="card-header bg-warning text-dark">{{item.name}}</div>
            <div class="card-body">
                <img src="assets/items/{{item.code}}.jpg" width="100px" height="100px">
            </div>
            <div class="card-footer">
                {{item.price}}/-Rs - Qty : 
                <select name="qty" #qty>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                </select>
                &nbsp;&nbsp;
                <button class="btn btn-success" (click)="addToCart(item,qty.value)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>