<div class="container">
  <div class="row form-group">
    <div class="col">
      <h1>Profile App</h1>
    </div>
    <div class="col">
      <input type="text" name=friendName class="form-control" #fName (blur)="addFriend(fName.value)">
    </div>
    <div class="col">
      <ul>
        <li *ngFor="let friend of friends">
          {{friend}}
        </li>
        <!-- <li>{{friends[1]}}</li>
        <li>{{friends[2]}}</li> -->
      </ul>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <input type="text" name="search" class="form-control" #search>
      <!-- <input type="text" name="search" class="form-control" #search (blur)="sayHello(search.value)"> -->
    </div>
    <div class="col-sm-4">
      <button (click)="searchPerson(search.value)" class="btn btn-info">Search</button>
    </div>
    <div class="col-sm-4">
      Search Value Is : {{searchString}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <app-personal-detail [search]="searchString"></app-personal-detail>
    </div>
  </div>
</div>